body{
    margin : 50px;
    font-family: "Poppins", sans-serif;
    font-weight : bold;
}

.tagline{
    font-size: 5rem;
}

.creative{
    color : midnightblue;
}

.main{
    margin : auto;
}

.card{
    margin : auto;
    padding : 10px;
    width : 45%;
}

.card>img{
    width : 50%;
    height : 150px;
    margin : 0 20px 20px 0;
    float : left;
}

footer{
    text-align: right;
    color: midnightblue;
}

@media (max-width: 680px){
    .logo{
        width : 50%;
        height : 20px;
    }

    .tagline{
        font-size : 3em;
    }

    .body{
        margin : 0;
        padding: 0;
    }

    .card{
        display : block;
        margin: 10px;
        padding : 10px;
        width : 90%;
    }

    .card>img{
        width : 100%;
    }
}


